<!DOCTYPE html>
<html>
<head>
  <title>Subcategorias de {{super_category}}</title>
</head>
<h1>Árvore de subcategorias de {{super_category}}</h1>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Nome da Super categoria</th>
          <th>Nome da Sub categoria</th>
      </thead>
      <tbody>      
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>
