<!DOCTYPE html>
<html>
<head>
  <title>Nova Supercategoria</title>
</head>
<div>
    <h1>Insira o nome da nova supercategoria</h1>
    <form action="execute_new" method="post">
        <label>Nome</label>
        <input type="text" name="name"/><br>
        <label>Categoria filha: </label>
        <select name="subcategory" id = 'categories' >
          <option label="(sem categoria filha)" value=""></option>
          {% for cat in categories %}
            <option name="{{cat}}"  value="{{cat[0]}}">{{cat[0]}}</option>
          {% endfor %}
          </select><br>
        <input type="submit"/>

    </form>
</div>
</html>