<!DOCTYPE html>
<html>
<head>
  <title>New subcategory - Flask</title>
</head>
<div>
    <h1>Insira o nome da nova categoria simples</h1>
    <form action="execute_new" method="post">
        <label>Supercategoria: </label>
        <select name="supercategory" id = 'supercategories' >
          {% for supercat in supercategories %}
            <option name="{{cat}}"  value="{{supercat[0]}}">{{supercat[0]}}</option>
          {% endfor %}
          </select><br>
          <label>Categoria: </label>
          <select name="category" id = 'categories' >
            {% for cat in categories %}
              <option name="{{cat}}"  value="{{cat[0]}}">{{cat[0]}}</option>
            {% endfor %}
            </select><br>
          <input type="submit"/>
    </form>
</div>
</html>