<!DOCTYPE html>
<html>
<head>
  <title>Eventos de Reposição: IVM {{ivm}}</title>
</head>
<h1>Eventos de Reposição da IVM com número de série {{ivm}}</h1>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Unidades</th>
        </tr>
      </thead>
      <tbody>      
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>